<h2>¿EN QUE PODEMOS AYUDARTE?</h2>
<p>Te podés comunicar con nosotros de Lunes a Domingo de 9 a 21hrs.</p>
<p>Escribinos por Whatsapp al +54 9 11 2799-6935.</p>
<p>También podés llamarnos al +541151686098.</p>


<div>
    <h4>¿CUÁLES SON LAS OPCIONES DE ENTREGA DE NIKE?</h4>
<p>Hacemos envíos a todo el país, excepto a las provincias de Misiones y Tierra del Fuego.</p>

<p>¡Si tu compra es mayor a $255.000 el envío es Gratis! (Aplica para los envíos Express y Estándar)</p>

<h5>¿CÓMO SIGO MI PEDIDO?</h5>
<p>Para poder seguir tu pedido hacé clic acá y elegí el método de envío que hayas elegido.</p>

<h5>INFORMACIÓN ADICIONAL</h5>
<p>• Los pedidos se procesan y envían de lunes a viernes, excepto en los días festivos nacionales.</p>
<p>• Tené en cuenta que el procesamiento y la entrega de los pedidos pueden demorarse en los días festivos.</p>
<p>• Tu pedido no puede enviarse a direcciones fuera del país pero podés comprar en Nike en varias ubicaciones a nivel 
    mundial.</p>
<p>• En caso de que el correo realice dos visitas y no te encuentre en el domicilio, 
tu compra regresará a nuestro depósito y se gestionará el reintegro correspondiente.</p>
</div>